<div class="d-flex justify-content-center" style="width: 100%;">
    <form class="d-flex" method="get" action="{{ path(name = 'movie_list') }}">
        <input class="form-control" type="search" name="query" value="{{ app.request.query.get('query') }}" placeholder="Rechercher un film..." aria-label="Rechercher" required>
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
</div>